body {
    padding-top: 90px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.social-metric-count {
    font-size: 26px;
    text-align: center;
}

.list-group-item {
    min-height: 60px;
}

.hidden {
    display: none;
}

.tablepanel {
    padding: 0;
}

.panel-text {
    padding: 10px;
}

.sum{
    border-top-color: black;
    border-top: solid;
    border-bottom: double thick;
    border-bottom-color: black;
    text-decoration: solid;
    font-weight: bold;
}
